# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\codegym\Module3\module3\src\ss9_tong_quan_ung_dung_web\thuc_hanh\server-time\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
