# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\codegym\Module3\module3\src\ss11_mo_hinh_mvc\thuc_hanh\customer_management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
