# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\codegym\Module3\module3\src\ss9_tong_quan_ung_dung_web\tao_trang_wed_ hien thi_thoi_gian_he_thong\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
